MY_PERSONAL_GMAIL=""
MY_PERSONAL_HOTMAIL=""
MY_WORK_EMAIL=""

EMAIL_PASSWORD=""
AMOUNT=""
MY_FULL_NAME=""
MY_NIF=""
MY_ADDRESS=""
MY_POSTCODE=""
MY_LOCATION=""
MY_COUNTRY=""
MY_PHONE=""
MY_IBAN=""
MY_SWIFT=""
MY_CORRESPONDENT_BIC=""
EMPLOYER_NAME=""
EMPLOYER_ADDRESS=""
EMPLOYER_TAXID=""

S3_BUCKET=""
